* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* height: 100vh; */
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

.container {
	width: 1000px;
}

.section {
	padding: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #666;

	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
}

/* 1 pulsating buttons*/

.buttons-wrapper {
	display: flex;
	flex-direction: row;
}

.btn {
	position: relative;
	padding: 1em 2em;
	color: #fff;
	background-color: cadetblue;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	overflow: hidden;
	margin: 1em;
}

.btn:focus {
	outline: none;
}

.circle {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: zoom 0.3s;
}

@keyframes zoom {
	to {
		transform: translate(-50%, -50%) scale(2);
		opacity: 0;
	}
}

/* 2 search bar animation*/

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1000px;
	background-color: cadetblue;
}

.nav-items {
	display: flex;
	margin: 0 30px;
}

.nav-items a {
	padding: 2em 1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	transition: background-color .3s, color .3s;
}

.nav-items a:hover {
	background-color: #fff;
	color: cadetblue;
}

.search-box {
	position: relative;
	align-self: stretch;
}

.search-input {
	padding: 2em;
	width: 300px;
	background-color: #eee;
	border: none;
	color: #333;
	font-size: 16px;
	transform: translateX(0) scaleX(0);
	transform-origin: right;
	transition: transform .3s;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 80px;
	border: none;
	background-color: rgb(52, 89, 90);
	cursor: pointer;
}

.search-btn:focus,
.search-input:focus {
	outline: none;
}

.search-btn:focus {
	background-color: rgb(42, 72, 73);
}

.search-input:focus {
	background-color: #ddd;
}

.active {
	transform: translateX(-80px) scaleX(1);
}

/* 3 colorful board*/

.title {
	margin-bottom: 1em;
	color: #fff;
	text-align: center;
	font-weight: lighter;
	text-transform: uppercase;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
}

.btn-board {
	padding: 1em;
	margin: 0 1em;
	text-transform: uppercase;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 6px;
	background: none;
	cursor: pointer;
	transition: color .3s, background-color .3s;

}

.btn-board:hover {
	color: #000;
	background-color: #fff;
}

.slider-box {
	margin-bottom: 2em;
	color: #fff;
	font-size: 18px;
	display: grid;
	justify-content: center;
}

#slider {
	margin-bottom: .5em;
	width: 400px;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 1000px;
}

.square {
	margin: 3px;
	height: 32px;
	width: 32px;
	border: 1px solid #000;
	border-radius: 6px;
	transition-property: background-color;
	transition-duration: 3s;
}

.square:hover {
	transition-duration: 0s !important;
}

/* 4 progress indicator on the form*/

.section-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-title {
	margin-bottom: 0.5em;
	text-transform: uppercase;
	color: #ddd;
}

.fake-form {
	margin-bottom: 3em;
	width: 600px;
	height: 300px;
	border-radius: 6px;
	overflow: hidden;
}

.page {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 22px;
	background-color: #fff;
}

.page:nth-child(even) {
	background-color: #bbb;
}

.active-page {
	display: flex;
}

.progress-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
	width: 600px;
}

.progress-box::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	background-color: #ddd;
	z-index: -1;
	content: '';
}

.progress-bar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 0%;
	background-color: royalblue;
	z-index: -1;
	transition: width .3s;
}

.step {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 48px;
	color: #333;
	background-color: #fff;
	border: 3px solid #ddd;
	border-radius: 6px;
}

.active-step {
	background-color: royalblue;
	color: #fff;
	border-color: rgb(48, 77, 163);
}

.progress-btn {
	padding: 0.7em 2em;
	font-size: 20px;
	color: #fff;
	background-color: royalblue;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.progress-btn:disabled {
	background-color: #ddd;
	color: #333;
	cursor: default;
}

/* 5 accordion */

.accordion-info-text {
	margin-bottom: 0.5em;
}

.fas,
.fa {
	margin-right: 20px;
	color: cadetblue;
}

.accordion {
	width: 800px;
	background-color: #fff;
	border-radius: 6px;
}

.accordion-box {
	margin: 20px;
}

.accordion-btn {
	padding: 1em;
	width: 100%;
	font-size: 30px;
	text-align: left;
	border: none;
	border-radius: 8px;
	transition: background-color .3s;
	cursor: pointer;
}

.accordion-btn:hover,
.accordion-btn:focus {
	background-color: cadetblue;
	color: #fff;
	outline: none;
}

.accordion-btn:hover .fas,
.accordion-btn:hover .fa,
.accordion-btn:focus .fas,
.accordion-btn:focus .fa {
	color: #fff;
}

.accordion-info {
	display: none;
	padding: 1em 30px;
	margin-left: 60px;
	color: #333;
}

.active {
	display: block;
}

/* 6 slider */

.sliderr {
	position: relative;
	height: 400px;
	width: 800px;
	border-radius: 6px;
	overflow: hidden;
}

.sliderr-box {
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s;
}

.sliderr-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sliderr-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0.5em 0.8em;
	color: #fff;
	background-color: rgba(0, 0, 0, .4);
	font-size: 2rem;
	border: none;
	cursor: pointer;
}

.sliderr-btn-left {
	left: 0;
}

.sliderr-btn-right {
	right: 0;
}

.sliderr-btn span {
	display: block;
	transition: transform 0.3s;
}

.sliderr-btn:hover span {
	transform: scale(0.7);
}

/* 7 expandable slides */

:root {
	--spring-color: #37ac01;
	--summer-color: #cfbc0f;
	--autumn-color: #aa6b23;
	--winter-color: #0a105c;
}

[data-bg="spring"] {
	background-color: var(--spring-color);
}

[data-bg="summer"] {
	background-color: var(--summer-color);
}

[data-bg="autumn"] {
	background-color: var(--autumn-color);
}

[data-bg="winter"] {
	background-color: var(--winter-color);
}

.section-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
	display: grid;
	align-items: center;
}

.wrapper {
	display: flex;
	padding: 0.5em;
	width: 1200px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
	margin: 2em;
}

.card {
	position: relative;
	flex-grow: 0.8;
	height: 600px;
	margin: 4px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	transition: flex-grow 0.8s;
	overflow: hidden;
	cursor: pointer;
}

.card::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	transition: opacity 0.5s;
}

.spring {
	background-image: url('https://cdn.pixabay.com/photo/2016/04/12/10/55/blossom-1324088_960_720.jpg');
}

.summer {
	background-image: url('https://cdn.pixabay.com/photo/2013/10/07/18/06/field-192179_960_720.jpg');
}

.autumn {
	background-image: url('https://cdn.pixabay.com/photo/2019/03/31/21/43/the-dark-hedges-4094148_960_720.jpg');
}

.winter {
	background-image: url('https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_960_720.jpg');
}

.spring::before,
.summer::before,
.autumn::before,
.winter::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	content: '';
}

.spring::before {
	background-color: var(--spring-color);
}

.summer::before {
	background-color: var(--summer-color);
}

.autumn::before {
	background-color: var(--autumn-color);
}

.winter::before {
	background-color: var(--winter-color);
}

.text {
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	width: 80%;
	padding: 2em;
	color: #fff;
	border-radius: 6px;
	z-index: 1;
}

.text h2 {
	text-transform: uppercase;
	transform: rotate(-90deg);
}

.text p {
	display: none;
	opacity: 0;
	font-size: 1.6rem;
}

.act {
	flex-grow: 8;
}

.act .text {
	animation: show-bg 1s .6s forwards;
}

.act .text h2 {
	display: none;
}

.act .text p {
	display: block;
	animation: show-text 1s .2s forwards;
}

.card.act::after {
	opacity: 0;
}

@keyframes show-bg {
	to {
		background-color: rgba(0, 0, 0, .4);
	}
}

@keyframes show-text {
	to {
		opacity: 1;
	}
}

/* 8 animated text */

.btn8 {
	padding: 0.5em 1em;
	font-size: 1.6rem;
	border: none;
	border-radius: 6px;
	background-color: #e5e5e5;
	cursor: pointer;
}

p {
	font-size: 3rem;
	color: #fff;
}

.modal-btn8 {
	/* position: absolute; */
	top: 200px;
}

.modal {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* position: absolute; */
	top: 200px;
	padding: 2em;
	width: 600px;
	height: 200px;
	background-color: #fff;
	border-radius: 6px;
}

.modal-input {
	padding: 1em;
	width: 100%;
	font-size: 1rem;
	border-radius: 6px;
}

.error-msg {
	margin: 1em 0;
	font-size: 1rem;
	color: tomato;
}

.active8 {
	display: flex;
}